* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.controls {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
body {
    background-color: rgb(24, 24, 24);
    background-size: cover;
    overflow: hidden;
    perspective: 100px;
}   

.title{
    color: white;
    text-align: center;
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100vw; 
    height: 100vh;

user-select:none;


}

.row {
    display: flex;
}

.card {
    background-color:transparent;
    background: blur 3px;
    content-visibility: hidden;
    display: block;
    margin: cover; 

    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
    height:5em;
    width: 5rem;
   translate: 0px -8.5rem;
    
}


.card.flipped {
    transform: rotateY(180deg);
    content-visibility: visible;
}

.move-counter{
    color: white;
    border: none;
    display: block;
    align-items: center;
    justify-items: center;
    width: 100vw;
    text-align: center;
}

.reset-button {
    background-color:rgb(24, 24, 24);
    border: none;
    display: block;
    align-items: center;
    justify-items: center;
    width: 100vw;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.color-picker{
display: flexbox;
align-items: center;
align-content: center;
margin-left: 49vw;
flex-direction: row;
text-align: center;
aspect-ratio: 1/1;
width: 3vw;
border-radius: 100px;
 
}
.card:focus {
    outline: none;
}
.card {
    -webkit-tap-highlight-color: transparent; /* For mobile browsers */
}
